@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 400px;

  /* Color Palette */
  --color-bg-dark: #000000;
  --color-bg-gray: #3a3a3a;
  --color-primary: #d4af37;
  --color-secondary: #376e6f;
  --color-primary-dark: #a67c00;
  --color-text-light: #cccccc;
  --color-highlight-light: #ffe066;

  --font-family-custom: "Inter", "Roboto", sans-serif;
  --font-family-display: "Pacifico", "cursive", serif;

  /* --background-image-hero: url("/src/assets/bg.png"); */
  --background-image-contact: url("/src/assets/contact.png");
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Base layer styles */
@layer base {

  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--color-text-light);
    font-family: var(--font-family-custom);
  }

  h1 {
    @apply text-4xl font-extrabold mb-4;
    font-family: theme(--font-family-custom);
  }
  .h2 {
    @apply text-3xl font-bold mb-3;
    font-family: theme(--font-family-custom);
  }
  .h3 {
    @apply text-2xl font-semibold mb-2;
    font-family: theme(--font-family-custom);
  }
  .h4 {
    @apply text-xl font-medium mb-1;
    font-family: theme(--font-family-custom);
  }
  .h5 {
    @apply text-lg font-normal mb-1;
    font-family: theme(--font-family-custom);
  }
  .h6 {
    @apply text-base font-normal;
    font-family: theme(--font-family-custom);
  }

  /* Paragraphs */
  .p {
    @apply text-base text-gray-700 leading-relaxed mb-4;
    font-family: theme(--font-family-custom);
  }
  .p-small {
    @apply text-sm text-gray-500;
    font-family: theme(--font-family-custom);
  }
}

@layer utilities {
  
  .border-primary-2 {
    border-width: 6px;
    border-color: var(--color-primary);
  }
  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400];
  }
  .regular-52 {
    @apply text-[52px] font-[400];
  }
  .regular-48 {
    @apply text-[48px] font-[400];
  }
  .regular-40 {
    @apply text-[40px] font-[400];
  }
  .regular-32 {
    @apply text-[32px] font-[400];
  }
  .regular-28 {
    @apply text-[28px] font-[400];
  }
  .regular-24 {
    @apply text-[24px] font-[400];
  }
  .regular-22 {
    @apply text-[22px] font-[400];
  }
  .regular-20 {
    @apply text-[20px] font-[400];
  }
  .regular-18 {
    @apply text-[18px] font-[400];
  }
  .regular-16 {
    @apply text-[16px] font-[400];
  }
  .regular-15 {
    @apply text-[15px] font-[400];
  }
  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-64 {
    @apply text-[64px] font-[500];
  }
  .medium-52 {
    @apply text-[52px] font-[500];
  }
  .medium-48 {
    @apply text-[48px] font-[500];
  }
  .medium-40 {
    @apply text-[40px] font-[500];
  }
  .medium-36 {
    @apply text-[36px] font-[500];
  }
  .medium-32 {
    @apply text-[32px] font-[500];
  }
  .medium-28 {
    @apply text-[28px] font-[500];
  }
  .medium-24 {
    @apply text-[24px] font-[500];
  }
  .medium-22 {
    @apply text-[22px] font-[500];
  }
  .medium-20 {
    @apply text-[20px] font-[500];
  }
  .medium-18 {
    @apply text-[18px] font-[500];
  }
  .medium-16 {
    @apply text-[16px] font-[500];
  }
  .medium-15 {
    @apply text-[15px] font-[500];
  }
  .medium-14 {
    @apply text-[14px] font-[500];
  }

  .bold-88 {
    @apply text-[88px] font-[700];
  }
  .bold-64 {
    @apply text-[64px] font-[700];
  }
  .bold-52 {
    @apply text-[52px] font-[700];
  }
  .bold-48 {
    @apply text-[48px] font-[700];
  }
  .bold-44 {
    @apply text-[44px] font-[700];
  }
  .bold-40 {
    @apply text-[40px] font-[700];
  }
  .bold-36 {
    @apply text-[36px] font-[700];
  }
  .bold-32 {
    @apply text-[32px] font-[700];
  }
  .bold-28 {
    @apply text-[28px] font-[700];
  }
  .bold-24 {
    @apply text-[24px] font-[700];
  }
  .bold-22 {
    @apply text-[22px] font-[700];
  }
  .bold-20 {
    @apply text-[20px] font-[700];
  }
  .bold-18 {
    @apply text-[18px] font-[700];
  }
  .bold-16 {
    @apply text-[16px] font-[700];
  }
  .bold-15 {
    @apply text-[15px] font-[700];
  }
  .bold-14 {
    @apply text-[14px] font-[700];
  }

  /* Buttons using theme colors */
  /* .btn-white {
    @apply text-sm font-medium bg-white text-primary-deep px-7 py-3.5 rounded;
  } */

  .btn-dark {
    @apply text-black bg-primary px-5 py-2 rounded cursor-pointer;
  }

  .btn-light {
    @apply bg-primary ring-1 ring-slate-900/10 px-7 py-3.5 rounded hover:bg-white transition-all duration-300;
  }

  /* .btn-outline {
    @apply text-sm font-medium bg-white ring-1 ring-slate-900/10 px-7 py-3.5 rounded  hover:text-white hover:cursor-pointer transition-all duration-300;
  } */

  /* .btn-secondary {
    @apply text-sm font-medium bg-secondary text-white px-7 py-3.5 rounded transition-all;
  } */

  /* Layout helpers */
  .max-padd-container {
    @apply mx-auto px-6 lg:px-24;
  }
  .max-padd-container2 {
    @apply mx-auto px-8 lg:px-16;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* Active link styling */

  .swiper-slide {
  height: auto !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center !important;
}
  /* .mySwiper .swiper-slide {
  min-height: 250px;
} */

  /* Remove arrows for number input in modern browsers */

  /* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
} */
}
